h1 {
    font-family:Verdana,sans-serif;
    font-size: 20px;
}

h3 {
    font-family: Verdana, sans-serif;
    font-size: 16px;
}

img {
    height: 10px;
    width: 10px;
}

a {
    color: red;
    text-decoration: none;
}
